body{
    background: #efefef;
    margin: 0px;
}
a{
    text-decoration: none;
    color: inherit;  
}
*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede; 
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
[data-x].offset{
    transform: translateY(100px)
}
[data-x]{
    transform: translateY(0);
    transition: all 1s;
}
.topNavBar{
    color: #b7b7b7;
    padding: 10px 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    transition:  all 0.7s;
}
.topNavBar.sticky{
    background: white;
    padding: 0;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    color: #3d4451;
}
.topNavBar .topNavBar-inner{
    padding:14px;
}
.topNavBar nav{
    padding-top: 7px;
}
.topNavBar nav ul li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.topNavBar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav ul li a{
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 6px;
    position: relative;
    /* border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    display: block; */
}
.topNavBar nav ul li.active a::after,
.topNavBar nav ul li.highlight a::after{
    /* border-bottom: 3px solid #e06567; */
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    animation: menuSlide 0.3s;
}
@keyframes menuSlide{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.topNavBar .submenu{
    display: none;
    position: absolute;
    right: 0px;
    top: 150%;
    background: #f7f6f1;
    color: #3d4451;
}
.topNavBar li.active > .submenu{
    display: block;
    animation: submenuSlide 0.3s;
}
@keyframes submenuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0%;
    }
}
.topNavBar .submenu > li{
    white-space: nowrap;        /*设计li里的文本显示完再换行 */
    padding: 5px 0px;
}
.topNavBar .logo{
    font-size: 24px;
    font-family: 'Arial black';
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .card{
    color: #9a9da2;
}
.banner{
    background-image: url(./img/rs-cover-2-2-1-1.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgb(0,0,0,0.8);
    /* border: 1px solid red; */
}
.usercard{
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);

    /* border: 1px solid red; */
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}
.usercard .welcome{
    background: #e6686a;
    color: white;
    padding: 4px 15px;
    line-height: 22px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}
.usercard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width:0px;
    position: absolute;
    top: 100%;
    left: 4px;
}
.usercard .picture{
    float: left;
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 470px;
}
.usercard .text h1{
    margin-top: 18px;
}
.usercard .text hr{
    margin: 20px 0;
}
.usercard .pictureAndText{
    padding: 50px;
}
.usercard dl dt,
.usercard dl dd{
    float: left;
    padding: 5px 0;
}
.usercard dl dt{
    width: 30%;
    font-weight: bold;
}
.usercard dl dd{
    width: 70%;
    color: #9da0a7;
}
.usercard >footer.media{
    background: #e6686a;
    text-align: center;
    /* float: left; */
    /* border: 2px solid white; */
}
.usercard >footer.media>a{
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    margin: 16px;
}
.usercard >footer.media>a:hover{
    background: #cf5d5f;
}
svg.icon{
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.usercard svg{
    height: 30px;
    width: 30px;
    fill: white;
    vertical-align: top;
}
.downloadResume{
    border: 1px solid #b9b9b9;
    background: #efefef;
    font-size: 15px;
    line-height: 16px;
    padding: 21px 55px;
    font-weight: bold;
    font-family: open sans;
    border-radius: 3px;
    color: #464d59;
}
.downloadResume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s;
}
#downloadResume-wrapper{
    text-align: center;
    padding-top: 58px;
}
section.skills,
section.portfolio,
section.message{
    max-width: 930px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 87px;
}
section.skills > h2, 
section.portfolio > h2,
section.message > h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
 h3 {
    font-family: inherit;
    font-weight: normal;
    font-size: 13px;
}
section.skills > ol {
    background: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}
section.skills > ol > li{
    float: left;
    width: 48%;
    box-sizing:border-box;
}
section.skills > ol > li:nth-child(even){
    float: right;
}
section.skills .progressBar{
    height: 5px;
    /* border: 1px solid red; */
    background: #fae1e1;
    border-radius: 2px;
    margin: 3px 0 38px;
    overflow: hidden;
}
section.skills .progressBar .progress{
    height: 5px;
    background: #e8676b;
    width: 70%;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
}
section.skills.offset .progress{
    transform: translateX(-100%)
}
section.portfolio .swiper-container{
    margin-top: 30px;
}
.swiper-container{
    width: 800px;
    height: 525px;
}
section.message> ol{
    margin: 0px auto;
    max-width: 700px;
    border: 1px solid red;

}
section.message> ol>li{
    background: white;
    margin: 5px 0;
    padding: 5px 0;
}
#postMessageForm{
    text-align: center
}